body{
    background-color: #D18126;
}
main {
    text-align: center;
    color: rgb(255, 255, 255);
}
.tabuleiro div input{
    width: 120px;
    height: 120px;
    margin: 5px;
    border: 1px sold rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}
input[type=button]{
    background-color: #a6661c;
    color: rgb(255, 255, 255);
    font-family: rgb(255, 255, 255);
}

.velha {
    position: fixed;
    height: 600px;
   transform: scaleX(-1);
}



